


.cuadro_intro_hover{
        padding: 0px;
		position: relative;
		overflow: hidden;
		height: 200px;
	}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-150px);
		-webkit-transform:translateY(-150px);
		-moz-transform:translateY(-150px);
		-ms-transform:translateY(-150px);
		-o-transform:translateY(-150px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:150px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(0,0,0,0.7);
		height: 300px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 300px;
		text-align: center;
		top:-20px;
		width: 100%;
	}




.section-title {
background: #333;
height: 38px;
margin-top: 30px; }
.section-title .title, .section-title .view-all {
background: #F2594B;
height: 38px;
line-height: 38px;
position: relative; }
.section-title .title a, .section-title .view-all a {
color: #ECF0F1;
text-transform: uppercase;
font-size: 16px;
padding: 0 15px; }
.section-title .title .arrow-left, .section-title .view-all .arrow-left {
position: absolute;
width: 20px;
height: 20px;
background: #F2594B;
bottom: 7px;
right: -10px;
transform: rotate(45deg); }
.section-title .title .arrow-right, .section-title .view-all .arrow-right {
position: absolute;
width: 20px;
height: 20px;
background: #333;
bottom: 7px;
left: -10px;
transform: rotate(45deg); }
.section-title .view-all {
font-size: 14px; }
.btn-theme {
background: #F2594B;
color: #ECF0F1; }
.btn-theme:hover {
color: #ECF0F1;
opacity: 0.8; }

.product-container {
position: relative;
background: #10222B;
border-top: none;
/*------------Sub Category-------------*/ }
.product-container .product-container-inner {
border: 1px solid #10222B;
overflow: auto;
padding-bottom: 15px; }
.product-container .product-single {
margin-top: 15px; }
.product-container .product-single .image {
position: relative;
background: #333;
padding: 30px;
overflow: hidden; }
.product-container .product-single .image img {
transition: all 0.4s ease-in-out;
cursor: pointer;
height: auto; }
.product-container .product-single .image:hover .quick-view {
opacity: 1; }
.product-container .product-single .image:hover .quick-view .btn-theme {
margin-top: 130px; }
.product-container .product-single .image .quick-view {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.2);
text-align: center;
opacity: 0; }
.product-container .product-single .image .quick-view .btn-theme {
margin-top: 300px; }
.product-container .product-single .info {
border: 1px solid #333;
margin-top: 2px;
position: relative;
text-align: center; }
.product-container .product-single .info .compare {
position: absolute;
top: 5px;
left: 5px; }
.product-container .product-single .info .add-to-cart .btn {
background: #ECF0F1;
border: 1px solid #EFE4BD;
color: #F2594B;
font-size: 13px;
text-transform: uppercase;
padding: 4px 8px; }
.product-container .product-single .info .wishlist {
position: absolute;
top: 5px;
right: 5px; }
.product-container .product-single .info .product-name {
font-size: 14px;
text-transform: uppercase;
margin-top: 15px;
padding: 0; }
.product-container .product-single .info .price .old {
font-size: 13px;
color: #666; }
.product-container .product-single .info .price .new {
font-size: 18px;
font-weight: 600; }
