<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Gamers Mill</title>
        <link rel="shortcut icon" href="/static/images/logo2.png">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="static/js/modernizr.custom.js"></script>
            <script src="static/js/newjs.js" ></script>
           <link rel="stylesheet" href="/static/css/final.css">

        <script type="text/javascript">
        $(window).scroll(function() {
  if ($(document).scrollTop() > 120) { 
      $('header.header').slideUp(8); 
      $('header.header-2').slideDown(8); 
} else { 
      $('header.header-2').stop().slideUp(8); 
      $('header.header').stop().slideDown(8); 
} 

}); 	 
        </script>




    </head>