{% include 'base.html' %}{% load static %}

    <body>

   {% include 'header.html' %}


<!-- end of first bar -->
<!--
<div class="navbar navbar-default" role="navigation">
    {% if categories %}
        <div class="container-fluid">
           <button type = "button" class = "navbar-toggle"
         data-toggle = "collapse" data-target = "#example-2-navbar-collapse">
         <span class = "sr-only">Toggle navigation</span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
      </button>
        <div><a class="navbar-brand" href="#">website</a></div>
        </div>
           <div class = "collapse navbar-collapse" id = "example-2-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for category in categories %}
                <li><a href="website/category/{{ category.slug }}">{{ category.name }}</a></li>

                {% endfor %}
             {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
            </ul>
            </div>
            </div>
</div>
    </header>
-->


<!-- start of carausel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" id = "maincarousel">
         <div class="item active">
        <img src="{% static "images/608335-min.jpg" %}" alt="Dota-2" />    </div>
      <div class="item">
        <img src="{% static "images/destiny_wallpaper.jpg" %}" alt="destiny-1" />    </div>
      <div class="item">
        <img src="{% static "images/assassins_creed.jpg" %}" alt="assassins" />    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<!-- end of carausel -->


<div class="center-icon">
<i class="fa fa-facebook"></i>



<i class="fa fa-instagram"></i>

<i class="fa fa-skype"></i>
<i class="fa fa-twitter"></i>
<i class="fa fa-spotify"></i>
</div>


<!-- start of articles and end of social media icons -->
<div class="container-fluid full-width">
<div class="row row-no-gutter">
  <div class="col-xs-6 col-md-4" >
    <a href="#" class="thumbnail">
      <img src="static/images/gta.jpg" class="img-full-width" alt="for row">
    </a>
  </div>
    <div class="col-xs-6 col-md-4" >
    <a href="#" class="thumbnail">
      <img src="static/images/cs-go.jpg" class="img-full-width" alt="for row">
    </a>
  </div>
    <div class="col-xs-6 col-md-4" >
    <a href="#" class="thumbnail">
      <img src="static/images/half-life.jpg" class="img-full-width" alt="for row">
    </a>
  </div>

  <div class="col-xs-6 col-md-4" >
    <a href="#" class="thumbnail">
      <img src="static/images/witcher.jpg" class="img-full-width" alt="for row">
    </a>
  </div>
    <div class="col-xs-6 col-md-4" >
    <a href="#" class="thumbnail">
      <img src="static/images/pokemon.png" class="img-full-width" alt="for row">
    </a>
  </div>
    <div class="col-xs-6 col-md-4" >
    <a href="#" class="thumbnail">
      <img src="static/images/overw.jpg" class="img-full-width" alt="for row">
    </a>
  </div>
</div>
</div>
<!-- first image -->
 <img src="static/images/star.jpg" class="img-fluid-1" alt="Responsive image">

<!-- end of image -->

<!-- start of web gallery -->
        <div class="container">

        <div class="row">
            <!--
            <p> test </p> <a href="{% url 'product_view' %}">logout</a>
                -->

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="static/images/gallery/witcher-phone.jpg" alt="">
                </a>
                <div class="carousel-caption">

              <h4 class="caption1" > Skins and Covers</h4>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="static/images/gallery/mirrors-poster.jpg" alt="">
                </a>
                <div class="carousel-caption">

              <h4 class="caption1" > Posters</h4>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="static/images/gallery/star-wars-t.jpg" alt="">
                </a>
                <div class="carousel-caption">

              <h4 class="caption1" > T-shirts</h4>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="static/images/gallery/call-of-duty-bag.jpg" alt="">
                </a>
                <div class="carousel-caption">

            <h4 class="caption1" > Bags</h4>
            </div></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="static/images/gallery/poke-mug.jpg" alt="">
                </a>
                <div class="carousel-caption">

              <h4 class="caption1" > Drinkware</h4>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="static/images/gallery/metal-gear.jpg" alt="">
                </a>
                <div class="carousel-caption">

              <h4 class="caption1" > Action Figures</h4>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="static/images/gallery/over-keychains.jpg" alt="">
                </a>
                <div class="carousel-caption">

              <h4 class="caption1" > Accessories</h4>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="static/images/gallery/meepo.jpg" alt="">
                </a>
                <div class="carousel-caption">

              <h4 class="caption1" > Wall-Hangings</h4>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="static/images/gallery/mario-plant.jpg" alt="">
                </a>
                <div class="carousel-caption">

              <h4 class="caption1" > Plush's</h4>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="static/images/gallery/collectors-edition.jpg" alt="">
                </a>
                <div class="carousel-caption">

              <h4 class="caption1" > Collectors-Edition</h4>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="static/images/gallery/gta-hood.jpg" alt="">
                </a>
                <div class="carousel-caption">

              <h4 class="caption1" > Hoodies</h4>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="static/images/gallery/pac-mouse.jpg" alt="">
                </a>
                <div class="carousel-caption">

              <h4 class="caption1" > Mousepads</h4>
            </div>

            </div>
        </div>
        </div>
<!-- end of web gallery -->

<!-- start of priced items -->
<section class="product-container">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="section-title">
<div class="title pull-left">
<a href="#" title="">Deals of the day</a>
<div class="arrow-left"></div>
</div>
<div class="view-all pull-right">
<div class="view"><a href="#" title="">View All</a></div>
<div class="arrow-right"></div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12">
<div class="product-container-inner">
<div class="col-md-3 col-sm-6">
<div class="product-single">
<div class="image">
<img src="static/images/gallery/items/destiny-t.jpg" class="img-responsive center-block" alt="">
    <div class="quick-view">
        <a href="#" title="" class="btn btn-theme">Quick View</a>
    </div>
</div>
<div class="info">
    <span class="compare"><i class="fa fa-sliders"></i></span>
    <div class="add-to-cart"><button class="btn btn-cart" type="">Add to Cart</button></div>
    <span class="wishlist"><i class="fa fa-heart"></i></span>
    <h2 class="product-name">Destiny T-shirt</h2>

    <div class="price"><span class="old"><small><del>45$</del></small></span> <span class="new">29$</span></div>
</div>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="product-single">
<div class="image">
<img src="static/images/gallery/items/dota2-demi.jpg" class="img-responsive center-block" alt="">
    <div class="quick-view">
        <a href="#" title="" class="btn btn-theme">Quick View</a>
    </div>
</div>
<div class="info">
    <span class="compare"><i class="fa fa-sliders"></i></span>
    <div class="add-to-cart"><button class="btn btn-cart" type="">Add to Cart</button></div>
    <span class="wishlist"><i class="fa fa-heart"></i></span>
    <h2 class="product-name">Demiheroes</h2>

    <div class="price"><span class="old"><small><del>30$</del></small></span> <span class="new">25$</span></div>
</div>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="product-single">
<div class="image">
<img src="static/images/gallery/items/zelda-fig.jpg" class="img-responsive center-block" alt="">
    <div class="quick-view">
        <a href="#" title="" class="btn btn-theme">Quick View</a>
    </div>
</div>
<div class="info">
    <span class="compare"><i class="fa fa-sliders"></i></span>
    <div class="add-to-cart"><button class="btn btn-cart" type="">Add to Cart</button></div>
    <span class="wishlist"><i class="fa fa-heart"></i></span>
    <h2 class="product-name">Link Figure</h2>

    <div class="price"><span class="old"><small><del>70$</del></small></span> <span class="new">$47</span></div>
</div>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="product-single">
<div class="image">
<img src="static/images/gallery/items/star-wars-merch.jpg" class="img-responsive center-block" alt="">
    <div class="quick-view">
        <a href="#" title="" class="btn btn-theme">Quick View</a>
    </div>
</div>
<div class="info">
    <span class="compare"><i class="fa fa-sliders"></i></span>
    <div class="add-to-cart"><button class="btn btn-cart" type="">Add to Cart</button></div>
    <span class="wishlist"><i class="fa fa-heart"></i></span>
    <h2 class="product-name">Star Wars Fighter Building block</h2>

    <div class="price"><span class="old"><small><del>$120</del></small></span> <span class="new">$105</span></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- end of priced items -->

 <img src="static/images/rocket.jpg" class="img-fluid-2" alt="Responsive image">

 <img src="static/images/zelda.jpg" class="img-fluid-3" alt="Responsive image">
 <img src="static/images/dmc.jpg" class="img-fluid-4" alt="Responsive image">



<!-- website footer -->
      {% include 'footer.html' %}



